*{
    font-size: 12px;
}
body {
    background-color: #ffffff;
}

.hidden {
    visibility: hidden;
}


ul {
    list-style: none;
}

#img {
    width: 40px;
    cursor: pointer;
    position: fixed;
}

input[type="checkbox"]{
    display: none;
}

nav {
    background-color: #0d6efd;
    width: 350px;
    height: 99.99%;
    left: -350px;
    position: fixed;
    transition: .5s;
    overflow-y: scroll;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}

ul {
    top: 70px;
    position: relative;
    width: 100%;
    border: 5px solid #0d6efd;
}

a {
    font-size: 16px;
    display: block;
    padding: 13px 22px;
    color: #ffffff;
}

a:hover {
    background-color: #ffffff;
    color: #0d6efd;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
}

#topo {
    margin-top: 6rem;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.disabled:hover {
    color: #000000;
    background-color: #0d6efd;
}

.button {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.button button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    font-size: 14px;
}


.button button:hover {
    transform: scale(1.1);
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 2.5rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section div {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

section {
    margin-right: 1rem;
}

section iframe {
    margin-top: 1rem;
    border: 1px solid #000000;
}


a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#aba,
#afogados,
#anderson,
#camponesa,
#caruaru,
#claudio,
#clecio,
#eduardo,
#esdras,
#lucivanio,
#marcos,
#marina,
#mirandiba,
#alagoinha,
#sitiocruz{
    padding-top: 2rem;
}

/* RESPONSIVE 1920 */
@media screen and (max-width:1920px) {
    a {
        text-decoration: none;
        color: black;
        font-size: 23px;
    }

    #topo {
        margin-top: 8rem;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    #img {
        width: 60px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        background-color: #0d6efd;
        width: 350px;
        height: 99.99%;
        left: -350px;
        position: fixed;
        transition: .5s;
        overflow-y: scroll;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(350px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 18px 30px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 35px;
    }

    section {
        margin-right: 5rem;
    }

    #aba,
    #afogados,
    #anderson,
    #camponesa,
    #caruaru,
    #claudio,
    #clecio,
    #eduardo,
    #esdras,
    #lucivanio,
    #marcos,
    #marina,
    #mirandiba,
    #alagoinha,
    #sitiocruz{
        padding-top: 2.5rem;
    }
}

/* RESPONSIVE 1400px */
@media screen and (max-width:1400px) {
    ul {
        list-style: none;
    }
    
    #img {
        width: 40px;
        cursor: pointer;
        position: fixed;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        background-color: #0d6efd;
        width: 350px;
        height: 99.99%;
        left: -350px;
        position: fixed;
        transition: .5s;
        overflow-y: scroll;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(350px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        font-size: 16px;
        display: block;
        padding: 13px 22px;
        color: #ffffff;
    }
    
    a:hover {
        background-color: #ffffff;
        color: #0d6efd;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }
    
    #topo {
        margin-top: 6rem;
    }

    h1 {
        font-size: 30px;
        margin-top: 2.5rem;
    }
}
/* RESPONSIVE 1110px*/

@media screen and (max-width:1110px) {
    a {
        text-decoration: none;
        color: black;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        width: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        background-color: #0d6efd;
        width: 350px;
        height: 99.99%;
        left: -350px;
        position: fixed;
        transition: .5s;
        overflow-y: scroll;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(350px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 18px 25px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 26px;
    }

    #aba,
    #afogados,
    #anderson,
    #camponesa,
    #caruaru,
    #claudio,
    #clecio,
    #eduardo,
    #esdras,
    #lucivanio,
    #marcos,
    #marina,
    #mirandiba,
    #alagoinha,
    #sitiocruz{
        padding-top: 2.5rem;
    }
}

/* RESPONSIVE 750px */
@media screen and (max-width:750px) {
    a {
        text-decoration: none;
        color: black;
        font-size: 19px;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    #img {
        width: 39px;
    }
    
    input[type="checkbox"]{
        display: none;
    }

    nav {
        background-color: #0d6efd;
        width: 250px;
        height: 100%;
        left: -250px;
        position: fixed;
        transition: .5s;
        overflow-y: scroll;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(250px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 21.5px 25px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 21px;
        justify-content: center;
    }

    h3 {
        font-size: 18px;
    }

    #topo {
        margin-top: 6rem;
    }
}

/* RESPONSIVE 500px */
@media screen and (max-width:500px) {
    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    #img {
        width: 39px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        background-color: #0d6efd;
        width: 200px;
        height: 100%;
        left: -200px;
        position: fixed;
        transition: .5s;
        overflow-y: scroll;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(200px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 6px 18px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 18px;
        justify-content: center;
        margin-bottom: -1rem;
    }

    h3 {
        margin-left: 3rem;
        font-size: 16px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }


    iframe {
        margin-left: 5rem;
    }
}