*{
    font-size: 12px;
}

body {
    background-color: #ffffff;
}

nav {
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 3rem;
    background-color: #4a97fd;
    height: 10rem;
    position: fixed;
}

button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
}

button:hover {
    transform: scale(1.2);
}

button:disabled {
    transform: scale(1);
    cursor: default;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 2.5rem;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section div {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

section {
    margin-right: 1rem;
}

section iframe {
    margin-top: 1rem;
    border: 1px solid #000000;
}

.button {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

a {
    text-decoration: none;
}

button {
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

label, img, input {
    visibility: hidden;
}

#aba,
#afogados,
#anderson,
#camponesa,
#caruaru,
#claudio,
#clecio,
#eduardo,
#esdras,
#lucivanio,
#marcos,
#marina,
#mirandiba,
#alagoinha,
#sitiocruz{
    padding-top: 9.2rem;
}

/* RESPONSIVE 1110px*/

@media screen and (max-width:1110px) {
    a {
        text-decoration: none;
        color: black;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        width: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        flex-direction: column;
        background-color: #0d6efd;
        width: 350px;
        height: 170%;
        left: -350px;
        position: absolute;
        transition: .5s;
        top: -30rem;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(350px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 10px 5px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 26px;
    }

    #aba,
    #afogados,
    #anderson,
    #camponesa,
    #caruaru,
    #claudio,
    #clecio,
    #eduardo,
    #esdras,
    #lucivanio,
    #marcos,
    #marina,
    #mirandiba,
    #alagoinha,
    #sitiocruz{
        padding-top: 2.5rem;
    }
}

/* RESPONSIVE 750px */
@media screen and (max-width:750px) {
    a {
        text-decoration: none;
        color: black;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        width: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        flex-direction: column;
        background-color: #0d6efd;
        width: 250px;
        height: 170%;
        left: -250px;
        position: absolute;
        transition: .5s;
        top: -24rem;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(250px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 10px 5px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 21px;
        justify-content: center;
    }

    h3 {
        font-size: 18px;
    }
}

/* RESPONSIVE 500px */
@media screen and (max-width:500px) {
    a {
        text-decoration: none;
        color: black;
    }
    
    body {
        font-family: arial;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        width: 40px;
    }
    
    input[type="checkbox"]{
        display: none;
    }
    
    nav {
        flex-direction: column;
        background-color: #0d6efd;
        width: 200px;
        height: 170%;
        left: -200px;
        position: absolute;
        transition: .5s;
        top: -18rem;
    }

    label, img, input {
        visibility: visible;
    }
    
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(200px);
    }
    
    ul {
        top: 70px;
        position: relative;
        width: 100%;
        border: 5px solid #0d6efd;
    }
    
    a {
        display: block;
        padding: 10px 5px;
        color: #ffffff;
    }
    
    label {
        padding: 15px;
        position: absolute;
        z-index: 1;
    }

    h1 {
        font-size: 18px;
        justify-content: center;
    }

    h3 {
        font-size: 16px;
    }
}