div {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 10px;
    margin-top: 25px;
    border: 10px;
    background-color: #f8f8ff;
    color: #000000;
    border-radius: 5px;
}

.botoes {
    display: flex;
    gap: 80px;
}